{%extends 'base.html'%}

{%block 'title'%}Bingo{%endblock%}

{%block 'conteudo'%}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="home.css">
    
</head>
<body>

    <div class="main2">
          
    <div class="main">
        <div class="LoginMenu">
         <h3>Entrar</h3>
         <input type="email" placeholder=" Email ou número de telefone">
         <input type="password" placeholder=" Senha">
         <button>Entrar</button> 
        </div>
    </div>       
    </div>
    
</body>
</html>


{%endblock%}